<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LaundryApp"
        tools:targetApi="31">
        <activity
            android:name=".ui.forgotpassword.KonfirmasiKataSandi"
            android:exported="false" />
        <activity
            android:name=".ui.forgotpassword.KataSandiBaru"
            android:exported="false" />
        <activity
            android:name=".ui.forgotpassword.ResetKataSandi"
            android:exported="false" />
        <activity
            android:name=".ui.forgotpassword.CekEmail"
            android:exported="false" />
        <activity
            android:name=".ui.forgotpassword.LupaKataSandi"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LaundryApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>